<div class="dashboard grey lighten-3" ng-controller="DashboardController">
  <div class="row no-gutter">

    <div class="col-sm-12 col-md-12 col-lg-9" style="background:#F9F9F9;">

      <div class="p-20 clearfix">
        <h4 class="grey-text">
          <i class="md md-dashboard"></i>
          <span class="hidden-xs">Dashboard</span>
        </h4>
      </div>

      <div class="p-20 no-p-t">
        <div class="card">
            <div class="table-search">
              <input type="text" class="form-control" ng-model="product_keyword" my-enter="searchProduct(product_keyword)" placeholder="Search Product" autofocus />
            </div>
        </div>
          
        <div class="row" ng-if="selected_product">
            <div class="col-md-6">
              <div class="well white">
                <form class="form-floating">

                  <fieldset>
                    <legend>{{ selected_product.name }}</legend>
                    <span class="help-block mw400">{{selected_product.desc}}</span>                    
                    <div class="form-group">
                      <input class="form-control" id="focusedInput" type="text" ng-model="selected_product.article_id" value="{{selected_product.article_id}}">
                      <label class="control-label" for="focusedInput">Article ID/No</label>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary">Save</button>
                      <button type="button" class="btn btn-default" ng-click="clearSelected()">Cancel</button>
                    </div>
                  </fieldset>

                </form>
              </div>
            </div>
            <div class="col-md-6">
              <div class="table-responsive white">
                  <h3 class="table-title p-20">Packages</h3>

                  <table class="table table-full table-full-small">
                    <colgroup>
                      <col class="auto-cell-size p-r-20" />
                    </colgroup>
                    <thead>
                        <tr>
                          <th>ID</th>
                          <th>W</th>
                          <th>H</th>
                          <th>L</th>
                          <th>Weight</th>
                          <th>Diameter</th>
                          <th>Total</th>
                          <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, item) in selected_product.packages">
                          <td><a ng-click="editPackage()">{{ item.article_id }}</a></td>
                          <td>{{item.width}}</td>
                          <td>{{ item.height }}</td>
                          <td>{{ item.length }}</td>
                          <td>{{ item.weight }}</td>
                          <td>{{ item.diameter }}</td>
                          <td>{{ item.total }}</td>
                          <td></td>
                        </tr>
                    </tbody>
                  </table>
              </div>
            </div>
        </div>
          
        <div class="row m-b-40" ng-show="product.length > 0">
            <div class="col-md-12">
              <div class="card no-margin">

                <div class="table-responsive white">
                  <h3 class="table-title p-20">Product</h3>

                  <table class="table table-full table-full-small">
                    <colgroup>
                      <col class="auto-cell-size p-r-20" />
                    </colgroup>
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>Product</th>
                      <th>Packages</th>
                      <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="(key, item) in product">
                      <td>{{ item.article_id }}</a></td>
                      <td><a ng-click="selectProduct(item)">{{ item.name }}</a></td>
                      <td>{{ item.packages.length }}</td>
                      <td>
                          <button type="button" class="btn btn-xs btn-round btn-info" ng-click="openURL(item.url)"><span class="md md-launch"></span><div class="ripple-wrapper"></div></button>
                          <button type="button" class="btn btn-xs btn-round btn-success" ng-click="addProductToQuote(item)"><span class="md md-add"></span><div class="ripple-wrapper"></div></button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>
          
        <div class="row" ng-show="showError">
            <div class="col-md-12">
              <div class="bs-component">
                <div class="alert alert-dismissible alert-danger">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <h4>Item Not Found!</h4>
                </div>
              </div>
            </div>
        </div>
        

        <div class="grey-text small p-t-20" ng-cloak>JACE - v{{APP.version}}</div>
      </div>
    </div>

    <div class="col-lg-3 col-md-12">

      <div class="p-20">
        <div class="pull-right">
          <ul class="list-unstyled">
            <li class="dropdown">
              <button type="button"
                      class="btn btn-round-sm btn-link"
                      bs-dropdown="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                      data-template="assets/tpl/partials/dropdown-list-example.html"
                      data-animation="mat-grow-top-right"
                      bs-tooltip
                      title="More stats">
                <i class="md md-equalizer"></i>
              </button>
            </li>
        </div>
        <h4 class="grey-text m-b-30">Quote</h4>

        <div class="card">
          <div class="p-10 p-l-20 p-r-20 clearfix">
            <div class="badge pull-right">{{quoteItems.length}}</div>
            <div class="w600 f11 grey-text"><a>New Quote</a></div>
          </div>
          <div class="table-responsive">
            <table class="table table-small grey-text">
              <colgroup>
                <col width="">
                <col width="" />
              </colgroup>
              <tbody>
                  <tr ng-repeat="item in quoteItems track by $index">
                    <td>{{item.article_id}} - {{item.name}}</td>
                    <td>{{item.price}}</td>
                  </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>

      <div class="p-h-40">

        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist" ng-init="actionTab=1">
            <li role="presentation" class="active"><a ng-click="actionTab=1" aria-controls="home" role="tab" data-toggle="tab">Log</a></li>
            <li role="presentation" class=""><a ng-click="actionTab=2" aria-controls="home" role="tab" data-toggle="tab">Timeline</a></li>
            <li role="presentation"><a ng-click="actionTab=3" aria-controls="home" role="tab" data-toggle="tab">Messages</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content m-t-10">
            <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==1}">

              <ul class="timeline">
                <li>
                  <div class="timeline-badge">
                    <i class="icon-circle theme-border"></i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">E-mail confirmation</h4>
                    </div>
                    <div class="timeline-body">
                      <p>A new user has registered and confirmed his account</p>
                      <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-badge">
                    <i class="icon-circle theme-secondary-border"></i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">User payment</h4>
                    </div>
                    <div class="timeline-body">
                      <p>A new user has payed a premium package</p>
                      <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="timeline-badge">
                    <i class="icon-circle green-border"></i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">E-mail confirmation</h4>
                    </div>
                    <div class="timeline-body">
                      <p>A new user has registered and confirmed his account</p>
                      <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-badge">
                    <i class="icon-circle red-border accent-1"></i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">User payment</h4>
                    </div>
                    <div class="timeline-body">
                      <p>A new user has payed a premium package</p>
                      <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="timeline-badge">
                    <i class="icon-circle theme-border"></i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">E-mail confirmation</h4>
                    </div>
                    <div class="timeline-body">
                      <p>A new user has registered and confirmed his account</p>
                      <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-badge">
                    <i class="icon-circle brown-border"></i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">User payment</h4>
                    </div>
                    <div class="timeline-body">
                      <p>A new user has payed a premium package</p>
                      <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                    </div>
                  </div>
                </li>
              </ul>

            </div>
            <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==2}">

              <ul class="timeline" ng-init="(rows=[]).length=5;">
                <li ng-repeat="i in rows track by $index">
                  <div class="timeline-badge"><img placeholder-img class="img-responsive" /></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title" placeholder-name></h4>
                    </div>
                    <div class="timeline-body">
                      <span placeholder-p></span>
                      <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                    </div>
                  </div>
                </li>
              </ul>

            </div>
            <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==3}">

              <ul class="timeline" ng-init="(rows=[]).length=5;">
                <li ng-repeat="i in rows track by $index">
                  <div class="timeline-badge" placeholder-icon></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title" placeholder-name></h4>
                    </div>
                    <div class="timeline-body">
                      <span spanlaceholder-p></span>
                      <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                    </div>
                  </div>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>

      <div class="p-20">
        <div class="row">
          <div class="col-xs-4">
            <c3chart bindto-id="chart-gauge-1">
              <chart-column column-id="Gauge"
                            column-type="gauge"
                            column-values="80" />
              <chart-gauge width="3" />
              <chart-tooltip show-tooltip="false" />
              <chart-legend show="false" />
              <chart-size chart-height="60px" />
              <chart-colors color-pattern="{{color_pattern}}" />
            </c3chart>
            <div class="text-center small">New visitors</div>
          </div>
          <div class="col-xs-4">
            <c3chart bindto-id="chart-gauge-2">
              <chart-column column-id="Gauge"
                            column-type="gauge"
                            column-values="30" />
              <chart-gauge width="3" />
              <chart-tooltip show-tooltip="false" />
              <chart-size chart-height="60px" />
              <chart-colors color-pattern="{{color_pattern}}" />
            </c3chart>
            <div class="text-center small">Conversions</div>
          </div>
          <div class="col-xs-4">
            <c3chart bindto-id="chart-gauge-3">
              <chart-column column-id="Gauge"
                            column-type="gauge"
                            column-values="40" />
              <chart-gauge width="3" />
              <chart-tooltip show-tooltip="false" />
              <chart-size chart-height="60px" />
              <chart-colors color-pattern="{{color_pattern}}" />
            </c3chart>
            <div class="text-center small">Bounce rate</div>
          </div>
        </div>
      </div>

      <c3chart bindto-id="chart-pagesviews" padding-bottom="-8px">
        <chart-column column-id="Pageviews"
                      column-values="3,4,5,10,20,14,18,12,10,20,10,14,15,10,20,14,18,12,10,20"
                      column-type="area" />
        <chart-axis-y show="false" />
        <chart-axis-x show="false" />
        <chart-legend show-legend="false" />
        <chart-size chart-height="100px" />
        <chart-tooltip show-tooltip="true" />
        <chart-colors color-pattern="#fff" />
      </c3chart>
    </div>

  </div>


</div>
